# ~/.gitconfig from trick_skel
# $Id$

[user]
    email = trick@vanstaveren.us
    name = Patrick van Staveren

[core]
    pager = less --quit-if-one-screen --no-init --quit-at-eof --chop-long-lines
    autocrlf = input
    excludesfile = ~/.gitignore_global
[commit]
	gpgsign = true
